/* Set global varibles. */
:root {
    --tiffanygreen: rgba(163, 201, 203, 190);
    --grey: rgba(53, 55, 63, 55);
    --white:rgba(237, 237, 246, 238);
    --oceanblue: rgba(115, 124, 146, 124);
    --darkgrey: rgba(60, 65, 72, 64);
}

/* Setting the page as border box and set padding & margin to 0, as well as setting font family to font families in modern OS. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#contact{
    margin-left: 200px;
    display: flex;
    flex-direction: center;
    font-size: larger;
}
#contact-me h1{
    
    display: flex;
    justify-content: center;
}
#contact-me div {
    margin-left: 40px;
    display: flex;
    flex-direction: center;
    font-size: larger;
}
#contactmeid{
    margin-left: 40px;
    display: flex;
    flex-direction: center;
    font-size: larger;
}




#contact-me form input {
    margin-top: 0.75rem;
    width: 20rem;
    height: 2.5rem;
    font-size: medium;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--darkgrey);
}

#contact-me form textarea {
    margin-top: 0.75rem;
    width: 175%;
    height: auto;
    font-size: medium;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--darkgrey);
}

#contact-me form button {
    width: fit-content;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-width: 1px;
    background-color: var(green);
    color: var(green);
    font-weight: bolder;
    font-size: large;
}

#contact-me form button:hover {
    opacity: 0.8;
}
